<style type="text/css">
 

</style>



<% provide(:title, @field.name) %>

<div class="row" data-role="page" id="index">
  <aside class="col-md-4">
    <section>
      <h3>
        <%= gravatar_for @field.user %>
        <%= @field.user.name %>
      </h3>
    </section>
  </aside>
  <div class="col-md-6">
   	<h3> <%=@field.name%>  </h3> 
   	<% if current_user?(@field.user) || admin_user? %>  
   		<h3><span><%= link_to "Edit this field", edit_field_path %>-<%= link_to "Remove this field", field_path, method: "delete" %></span></h3>
   	<%end%>
   	<p>The field allows: <%= pluralize(@field.team_player,"player") %> per team. </p>
   	<p>Description: <%=@field.description%></p> 
  </div>
  <div class="col-md-2">
    <p align='left' > <%= link_to " Alquilar ahora ",'#', class: "btn btn-lg btn-primary" %></p>
    <p align='left' > <%= link_to "Consultar ahora",'#', class: "btn btn-lg btn-primary" %></p>
    
  </div>
  
  
</div>


<div class='calendar'></div>


<script type = "text/javascript">
  /*
    <% if admin_user? || company_user? %>
      var options = {
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'agendaWeek,agendaDay'
        },
        height: 500 ,
        slotMinutes: 30,
        dragOpacity: 0.5,
        eventColor: '#082E50',  
        eventOverlap:false,
        minTime: 7,
        allDaySlot:false,
        slotEventOverlap:false,
        firstDay:5,
        eventSources: [{
        url: '/events/get_events'
        }],
        timeFormat: "h:mm t{ - h:mm t}"
      };
      <% else %>
      var options = {
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'agendaWeek,agendaDay'
        },
        height: 500 ,
        slotMinutes: 30,
        dragOpacity: 0.5,
        eventColor: '#218A04',
        eventOverlap:false,
        minTime: 7,
        allDaySlot:false,
        nowIndicator:true,
        slotEventOverlap:false,
        editable:false,
        firstDay:5,
        selectable:false,
         eventClick:  function(event, jsEvent, view) {
          
          }
      };     
    
    <% end %>
    $('.calendar').fullCalendar($.extend(full_calendar_options,options));
*/
$(document).ready(function() {


    $('.calendar').fullCalendar({
        // put your options and callbacks here
         theme: false,
         defaultView:'agendaWeek',
         header: {
          left: 'prev,next today',
          center: 'title',
          right: 'agendaWeek,agendaDay'
        },
        events: {
          url:'/events/get_events',
          type: 'POST',
          data: {
            field: <%=@field.id%>
          },
          error: function() {
              alert('there was an error while fetching events!');
          }
        },
        allDayText:'Estado',
        minTime:'06:00:00', //Configuration data
        maxTime:'23:59:59',
        timeFormat:'H(:mm)',
        columnFormat:'dddd M/D',
        firstDay:<%= Time.at(Time.now).wday%>, //today
        selectable: true
      });
    });
  </script>



 